@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Light.woff2') format('woff2'),
      url('../../fonts/Exo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Bold.woff2') format('woff2'),
      url('../../fonts/Exo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-LightItalic.woff2') format('woff2'),
      url('../../fonts/Exo-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Medium.woff2') format('woff2'),
      url('../../fonts/Exo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Black.woff2') format('woff2'),
      url('../../fonts/Exo-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-ExtraLightItalic.woff2') format('woff2'),
      url('../../fonts/Exo-ExtraLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-MediumItalic.woff2') format('woff2'),
      url('../../fonts/Exo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Thin.woff2') format('woff2'),
      url('../../fonts/Exo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-BoldItalic.woff2') format('woff2'),
      url('../../fonts/Exo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Italic.woff2') format('woff2'),
      url('../../fonts/Exo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-ExtraBoldItalic.woff2') format('woff2'),
      url('../../fonts/Exo-ExtraBoldItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-ExtraLight.woff2') format('woff2'),
      url('../../fonts/Exo-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Exo-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-Regular.woff2') format('woff2'),
      url('../../fonts/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-SemiBoldItalic.woff2') format('woff2'),
      url('../../fonts/Exo-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-ThinItalic.woff2') format('woff2'),
      url('../../fonts/Exo-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-SemiBold.woff2') format('woff2'),
      url('../../fonts/Exo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../../fonts/Exo-BlackItalic.woff2') format('woff2'),
      url('../../fonts/Exo-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-black-webfont.woff2') format('woff2'),
       url('../../fonts/lato-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
       url('../../fonts/lato-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-bold-webfont.woff2') format('woff2'),
       url('../../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
       url('../../fonts/lato-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-italic-webfont.woff2') format('woff2'),
       url('../../fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-light-webfont.woff2') format('woff2'),
       url('../../fonts/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
       url('../../fonts/lato-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-thin-webfont.woff2') format('woff2'),
       url('../../fonts/lato-thin-webfont.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../../fonts/lato-thinitalic-webfont.woff2') format('woff2'),
       url('../../fonts/lato-thinitalic-webfont.woff') format('woff');
  font-weight: thin;
  font-style: italic;
}